# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = ServerScheduler

# configure thread pool info
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 10
quartz.threadPool.threadPriority = Normal

# job initialization plugin handles our xml reading, without it defaults are used
#quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz
#quartz.plugin.xml.fileNames = ~/quartz_jobs.xml

quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz


quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.dataSource = myDS
quartz.jobStore.useProperties = true

# 用 SQLite
# SQLite System.Data.SQLite 要用 1.0.88版的
# quartz.dataSource.myDS.provider = SQLite-10
# quartz.dataSource.myDS.ConnectionString = Data Source = E:\Alvin\Google雲端硬碟\我的程式\Demo\Quartz\Lib\DB\Database.sqlite
# quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SQLiteDelegate, Quartz

# 用 PostgreSQL
# Install-Package Npgsql -Version 2.0.11
# 要用 Npgsql 2.0.11才是for .net framework 4.0版的
quartz.dataSource.myDS.provider = Npgsql-20
quartz.dataSource.myDS.connectionString = Server=127.0.0.1;Port=5432;Userid=postgres;Password=ckoei26;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Timeout=15;SslMode=Disable;Database=quartz
#quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.PostgreSQLDelegate, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz


# 用 MySQL
# quartz.dataSource.myDS.provider = MySql-65
# quartz.dataSource.myDS.connectionString = Server=localhost;Database=quartz;Uid= ;Pwd= 
# quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz
# 真是的 MySql-65 非得用 6.5.4 版的 MySQL.Data.DLL 不可!! 用6.5.7還不行!
# 要去 下面這裡找 MySQL Connector/Net (Archived Versions) 6.5.4
# https://downloads.mysql.com/archives/c-net/


# export this server to remoting context
quartz.scheduler.exporter.type = Quartz.Simpl.RemotingSchedulerExporter, Quartz
quartz.scheduler.exporter.port = 52601
quartz.scheduler.exporter.bindName = QuartzScheduler
quartz.scheduler.exporter.channelType = tcp
quartz.scheduler.exporter.channelName = httpQuartz